<form action="/places/list" method="post">
  <input type="text" name="host_name" placeholder="Host name" /><br><br>
  <input type="text" name="host_email" placeholder="Email address" /><br><br>
  <input type="text" name="place_title" placeholder="Title" /><br><br>
  <input type="text" name="place_price" placeholder="Price per night" /><br><br>
  <input type="text" name="location" placeholder="Location" /><br><br>
  <input type="text" name="description" placeholder="Description" /><br><br>
  <input type="date" name="available_from" min="<%= Date.today %>" max="2032-04-04" /><br><br>
  <input type="date" name="available_until" min="<%= Date.today + 1 %>" max="2032-04-04" /><br><br>
  <input type="submit" value="Submit" />
</form>
