<form action="/places/list" method="post">
  <input type="text" name="host_name" placeholder="Host name" />
  <input type="text" name="host_email" placeholder="Email address" />
  <input type="text" name="place_title" placeholder="Title" />
  <input type="text" name="place_price" placeholder="Price per night" />
  <input type="text" name="location" placeholder="Location" />
  <input type="text" name="description" placeholder="Description" />
  <input type="submit" value="Submit" />
</form>
