<form action="/places/<%= @place.id %>/confirmation" method="post">
  <h1>Fill in the form to request your stay in <%= @place.place_title %> </h1>
  <div>
    <input type="text" name="customer_name" placeholder="Your name" /><br><br>
    <input type="email" name="customer_email" placeholder="Your email" /><br><br>
    <input type="date" name="check_in" min="<%= Date.today %>" max="2032-04-04" /><br><br>
    <input type="date" name="check_out" min="<%= Date.today + 1 %>" max="2032-04-04" /><br><br>
    <textarea name="comments_box" rows="5" cols="30" placeholder="Add any comments here..."></textarea><br><br>
    <input type="submit" value="Submit" />
  </div>
</form>
